.table-container{
    padding: 0 10vw;
    text-align: center;
    margin-top: 4rem;

    .headers{
        div{
            height: 2rem;
            background-color: $background-primary;
            border: 1px solid white;
            color: $background-secondary;
            padding-top: .5rem;
            font-weight: 800;
        }
    }

    .body {
        div {
            border-bottom: 1px solid $background-primary;
            border-radius: 20px;
            padding: .5rem 0;
        }
    }
}